<md-tabs class="md-primary" md-dynamic-height md-stretch-tabs>
    <md-tab label="GameBoard">
        <md-content class="md-primary">
            <div layout="row" layout-align="center" style="height: 800px">
                <tile ng-repeat="tile in GameC.tiles" ng-click="GameC.clickHandler(tile)">
                </tile>
            </div>
        </md-content>
    </md-tab>
    <md-tab label="Played Tiles">
        <md-tabs class="md-accent" md-dynamic-height>
            <md-tab ng-repeat="player in GameC.players" label="{{player.name}}">
                <md-tab-body>
                    <md-content class="md-primary">
                        <div layout="column" flex>
                            <md-list>
                                <md-list-item class="md-3-line" ng-repeat="tile in GameC.matchedTiles | foundBy:player._id">
                                    <div flex="30">
                                    <matchedTile style="left: 0;"></matchedTile>
                                    <matchedTile style="left: 80px;float:left;"></matchedTile>
                                    </div>
                                    <div class="md-list-item-text" flex="33">
                                        <h2>matched tiles: {{tile.tile.suit}} - {{tile.tile.name}}</h2>
                                        <p>Zet nummer: {{$index + 1}}</p>
                                    </div>
                                    <div class="md-list-item-text" flex="33">
                                        <h2>Datum</h2>
                                        <p>{{tile.match.foundOn | date:'dd/MM/yyyy HH:mm:ss'}}</p>
                                    </div>
                                    <md-divider ng-if="!$last"></md-divider>
                                </md-list-item>
                            </md-list>
                        </div>
                    </md-content>
                </md-tab-body>
            </md-tab>
        </md-tabs>
    </md-tab>
</md-tabs>