$file_path: "../img/Mahjong_sprite_sheet.jpg";
$custom_right: 0;
$custom_down: 0;
$circles: 9;
$bamboos: 9;
$characters: 9;
$winds: East West South North;
$dragons: Red Green White;
$flowers: Plum Chrysantememum Orchid Bamboo;
$seasons: Spring Summer Autumn Winter;
$tilesuits: Bamboo Circle Character Dragon Wind Season Flower;
$tile_height: 82;
$tile_width: 62;
$start_left_margin: 73;
$start_top_margin: 11;

.tile{
	transform:  scale(1) skew(10deg,0deg);
	box-shadow: 0px 5px 5px #2a2a2a;
    position: absolute;
    height: $tile_height + px;
    width: $tile_width + px;
}
.tile:hover{
	border: red ridge 2px;
}
@each $suit in $tilesuits{
	@if $suit == Bamboo{
		@for $i from 1 through $bamboos{
			.#{$suit+"-"+$i}{
				@extend .tile;
				$custom_down: $tile_height * 4 + $start_top_margin;
                $custom_right: ($i - 1)* $tile_width + $start_left_margin;
			    background: #{'url('+$file_path+') -'+$custom_right+'px -'+$custom_down+'px'};
			}
		}
	}
    @if $suit == Circle{
		@for $i from 1 through $circles{
			.#{$suit+"-"+$i}{
				@extend .tile;
				$custom_down: $start_top_margin;
                $custom_right: ($i - 1)* $tile_width + $start_left_margin;
				background: #{'url('+$file_path+') -'+$custom_right+'px -'+$custom_down+'px'};
			}
		}
	}
    @if $suit == Character{
		@for $i from 1 through $characters{
			.#{$suit+"-"+$i}{
				@extend .tile;
				$custom_down: $tile_height * 8 + $start_top_margin;
                $custom_right: ($i - 1)* $tile_width + $start_left_margin;
				background: #{'url('+$file_path+') -'+$custom_right+'px -'+$custom_down+'px'};
			}
		}
	}
	@if $suit == Dragon{
		$custom_right: ($tile_width * $characters) + $start_left_margin; 
		@each $dragon in $dragons{
			.#{$suit+"-"+$dragon}{
				@extend .tile;
				$custom_down: ($tile_height * 9) + $start_top_margin;
				background: #{'url('+$file_path+') -'+$custom_right+'px -'+$custom_down+'px'};
			}
			$custom_right: $custom_right + $tile_width;
		}
	}
	@if $suit == Wind{
		$custom_right: ($tile_width * $circles) + $start_left_margin;
		@each $wind in $winds{
			.#{$suit+"-"+$wind}{
				@extend .tile;
					$custom_down: $start_top_margin;
					background: #{'url('+$file_path+') -'+$custom_right+'px -'+$custom_down+'px'};
			}
			$custom_right: ($custom_right+$tile_width);
		}
	}
    @if $suit == Season{
		$custom_down: $tile_height * 7 + $start_top_margin;
		@each $season in $seasons{
			.#{$suit+"-"+$season}{
				@extend .tile;
				$custom_right: ($tile_width * $bamboos)+ $start_left_margin;
                background: #{'url('+$file_path+') -'+$custom_right+'px -'+$custom_down+'px'};
			}
			$custom_down: ($custom_down - $tile_height);
		}
	}
    	@if $suit == Flower{
	    $custom_down: $tile_height * 7 + $start_top_margin;
		@each $flower in $flowers{
			.#{$suit+"-"+$flower}{
				@extend .tile;
				$custom_right: ($tile_width * 12)+ $start_left_margin;
				background: #{'url('+$file_path+') -'+$custom_right+'px -'+$custom_down+'px'};
			}
			// for each flower tile increase te pixels to right with its own width;
			$custom_down: ($custom_down - $tile_height);
		}
	}
}

