<md-content md-theme="login-form" layout-gt-sm="row" layout-padding>
    <div>
        <form name="game">
            Game aanmaken:
            <div class="row">
                <md-input-container>
                    <label>Template</label>
                    <md-select ng-model="game.template" required>
                        <md-option ng-value="Ox">Ox</md-option>
                        <md-option ng-value="Snake">Snake</md-option>
                        <md-option ng-value="Dragon">Dragon</md-option>
                        <md-option ng-value="Shanghai">Shanghai</md-option>
                        <md-option ng-value="Monkey">Monkey</md-option>
                        <md-option ng-value="Ram">Ram</md-option>
                        <md-option ng-value="Rooster">Rooster</md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div class="row">
                <md-input-container class="md-block">
                    <label>Minimale aantal spelers</label>
                    <md-select ng-model="game.minPlayers">
                        <md-option ng-value="IndexC.minPlayers">{{IndexC.minPlayers}}</md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div class="row">
                <md-input-container class="md-block">
                    <label>Maximale aantal spelers</label>
                    <md-select ng-model="game.maxPlayers">
                        <md-option ng-value="IndexC.maxPlayer">{{IndexC.maxPlayers}}</md-option>
                    </md-select>
                </md-input-container>
            </div>
            <md-button class="md-primary md-raised" ng-click=IndexC.addGame(game)"">Aanmaken</md-button>
            <md-button class="md-raised" ng-click="IndexC.closeAddGame()">Cancel</md-button>
        </form>
    </div>
</md-content>