<md-content md-theme="login-form" layout-gt-sm="row" layout-padding>
    <div>
        <form name="game">
            Game aanmaken:
            <div class="row">
                <md-input-container class="md-block">
                    <label>Template</label>
                    <md-select ng-model="game.template" required>
                        <md-option ng-repeat="template in IndexC.gameTemplates" ng-value="{{template}}">{{template}}</md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div class="row">
                <md-input-container class="md-block">
                    <label>Minimale aantal spelers</label>
                    <md-select ng-model="game.minPlayers">
                        <md-option ng-repeat="minPlayers in IndexC.players" ng-value="{{minPlayers}}">{{minPlayers}}</md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div class="row">
                <md-input-container class="md-block">
                    <label>Maximale aantal spelers</label>
                    <md-select ng-model="game.maxPlayers">
                        <md-option ng-repeat="maxPlayers in IndexC.players" ng-value="{{maxPlayers}}">{{maxPlayers}}</md-option>
                    </md-select>
                </md-input-container>
            </div>
            <md-button class="md-primary md-raised" ng-click=IndexC.addGame(game)>Aanmaken</md-button>
            <md-button class="md-raised" ng-click="IndexC.closeAddGame()">Cancel</md-button>
        </form>
    </div>
</md-content>